body{
    background-color: rgb(143, 162, 214);
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}
li a:hover {
    color: #8f8e8e;}
li {
        float: left;
        padding-left: 30px;
        border: 2px;
        text-align: left;
      }
      li a {
        display: block;
        color: white;
        text-align: right;
        padding: 16px;
        text-decoration: none;
      }
      ul.top {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #a3b8f1;
      }
 p.textsize{
    width: 400px;
    height: min-content;
 }
 .textsize{
  width: 300px;
 }
 img{
  align-items: flex-end;
  position: absolute;
  float: left;
 }
 div.midfont{
  font-family: Arial;
  font-size: large;
 }
 button.first{
  background-color: aliceblue;
  stroke: none;
  width: 100px;
  height: 30px;
  border-radius: 10px;
 }
 button.first:hover{
  background-color: red;
  transition: 0.4s ease-in-out;

 }
 div.im{
  margin-top: 0px;
  margin-bottom: 100px;
  margin-right: 0px;
  margin-left: 600px;
  align-content: auto;
 }
 ul. lo{
  float: right;
 }
 ul. bu{
  background-color: aliceblue;
  box-shadow: #8f8e8e;
  width: 10vw;
  height: 10vw;
 }
